@model ForumTemplate.Web.ViewModels.Posts.PostViewModel
@{
    this.ViewData["Title"] = Model.Name;
    var commentCounter = 1;
}
<div class="container bg-light rounded p-3 shadow-lg">
    <div class="row">
        <div class="col-md-1">
            <img src="~/img/categories/chat.png" width="50" alt="Post" />
        </div>
        <div class="col-md-6">
            <h3 class="text-dark">@Model.Name</h3>
        </div>
        <div class="ml-auto pr-2">
            <span class="text-dark">Posted on:@Model.CreatedOn</span>
        </div>
    </div>
    <div class="row">
        <div class="px-2 pt-3">
            <span>Posted by: @Model.UserUsername</span>
        </div>
        <div class="ml-auto pr-2">
            <span>@Model.CommentsCount Comments <img src="~/img/categories/comment.png" width="30" /></span>
        </div>
    </div>
    <hr />
    <div>
        <p>
            @Html.Raw(Model.SanitizedContent)
        </p>
    </div>
    <hr />
    <div class="row">
        <div class="px-2 pt-3">
            @if (Model.ModifiedOn != null)
            {
                <span>Last modified on:@Model.ModifiedOn</span>
            }
        </div>
        <div class="px-1 pt-3 ml-auto">
            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-primary">Edit</a>
        </div>
        <div class="px-1 pt-3 ">
            <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id" type="button" class="btn btn-primary"><i class="fas fa-reply"></i> Reply</a>
        </div>
        <div class="px-1 pt-3">
            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
        </div>
    </div>
</div>

@foreach (var comment in Model.Comments)
{

    <hr />
    <div class="container bg-light rounded p-3 shadow-lg">
        <div class="row">
            <div class="col-md-1">
                <img src="~/img/categories/comment.png" width="50" alt="Post" />
            </div>
            <div class="col-md-6">
                <h3 class="text-dark">Reply for @Model.Name</h3>
            </div>
            <div class="ml-auto pr-2">
                <span class="text-dark">Comment #@(commentCounter++) </span>
            </div>
        </div>
        <div class="row">
            <div class="px-2 pt-3">
                <span>Posted by: @comment.UserUserName</span>
            </div>
        </div>
        <hr />
        <div>
            <p>
                @Html.Raw(comment.SanitizedContent)
            </p>
        </div>
        <hr />
        <div class="row">
            <div class="px-2 pt-3">
                @if (comment.ModifiedOn != null)
                {
                    <span>Last modified on:@comment.ModifiedOn</span>
                }
            </div>
            <div class="px-1 pt-3 ml-auto">
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@comment.Id" type="button" class="btn btn-primary">Edit</a>
            </div>
            <div class="px-1 pt-3">
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>


}