@using ForumTemplate.Common
@model ForumTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var user = this.User.Identity.Name == null ? "Guest" : this.User.Identity.Name;
}

<div class="container text-center alert-primary">
    <h1 class="display-4 text-dark">Welcome to @GlobalConstants.SystemName, @user!</h1>
</div>

@foreach (var category in Model.Categories)
{
    <div class="container alert alert-primary alert-link">
        <div class="row">
            <div class="col-md-1">
                <img src="~/img/categories/66195-vector-google-icons-computer-online-newspaper-news.png" width="50" />
            </div>
            <div class="col-md-9">
                <div class="panel panel-purple"><a href="@category.Url">@category.Name</a></div>
                <div>@category.Description</div>
            </div>
            <div class="col-md-2">
                <div>Total @category.PostsCount Post(s)</div>
            </div>
        </div>
    </div>



}


