@model ForumTemplate.Web.ViewModels.Search.SearchViewModel

<h1>Search results for "@Model.SearchString"</h1>
<hr />
<div class="container bg-light rounded p-3 shadow-lg">
    @if (Model.Posts.Any())
    {
        @foreach (var post in Model.Posts)
        {
            <div class="container bg-light rounded p-3">
                <div class="row">
                    <div class="col-md-1">
                        <img src="~/img/categories/information.png" width="50" />
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-purple"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"><h4>@post.Name</h4></a></div>
                        <div>@Html.Raw(post.ShortSanitizedContent)</div>
                    </div>
                    <div class="col-md-3">
                        <div> @post.CommentsCount Comments <img src="~/img/categories/comment.png" width="30" /></div>
                        <div> @post.View Views <img src="~/img/categories/compupic.png" width="30" /></div>
                    </div>
                    <div class="col-md">by <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.UserUsername</a></div>
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <h5> Nothing found...</h5>
    }
</div>