@model ForumTemplate.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="container">
        <div class="row bg-light rounded p-3">
            <h3 class="col-md-10">Category: @Model.Name</h3>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary float-right col-md-2" asp-controller="Posts" asp-action="Create"><i class="far fa-plus-square"></i> Add new Post</a>
            }
        </div>
    </div>
    <hr />
    @if (this.Model.Posts.Any())
    {
        @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
        {
            <div class="container bg-light rounded p-3">
                <div class="row">
                    <div class="col-md-1">
                        <img src="~/img/categories/information.png" width="50" />
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-purple"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"><h4>@post.Name</h4></a></div>
                        <div>@Html.Raw(post.ShortSanitizedContent)</div>
                    </div>
                    <div class="col-md-3">
                        <div> @post.CommentsCount Comments <img src="~/img/categories/comment.png" width="30" /></div>
                        <div> @post.View Views <img src="~/img/categories/compupic.png" width="30" /></div>                       
                    </div>

                    <div class="col-md">by <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.UserUserName</a></div>
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <div class="bg-light rounded p-3">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/img/categories/stop.png" width="50">
                </div>
                <div class="col-md-10">
                    <h3>This forum category is empty, add first post...</h3>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
}