@model ForumTemplate.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1 class="display-3">@Model.Name</h1>

<div>
    @Model.Description
</div>
@foreach (var post in Model.Posts)
{
<div class="container alert alert-primary alert-link">
    <div class="row">
        <div class="col-md-1">
            <img src="~/img/categories/66195-vector-google-icons-computer-online-newspaper-news.png" width="50" />
        </div>
        <div class="col-md-9">
            <div class="panel panel-purple"><a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Name</a></div>
            <div>@post.Content</div>
        </div>
        <div class="col-md-2">
            <div>@post.CommentsCount Comment(s)</div>
        </div>
    </div>
</div>
}